{% extends 'base.html' %}
{% block css %} <link rel="stylesheet" type="text/css" href="../static/dicipline.css">  {% endblock %}

{% block content%}

<div class="seta" >
    <a href="/home">back</a>
</div>


    <div class="row">

        <div class="side-content">
            <div class="col-9">
                <h1>Disciplina optionala</h1>
                <p>Faca a Sua  melhor escolha</p>
                <p>E seja Inteligente!</p>
            </div>

            <div class="Titlos">
                <div class="col-c">
                    <h3>Medii Proiectare si Programare</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at dui scelerisque malesuad.
                    </p>
                </div>
                <div class="col-a">
                    <h3>Sabloane</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at dui scelerisque malesuad.
                    </p>
                </div>
                <div class="col-b">
                    <h3>Management Proiect Informatice</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at dui scelerisque malesuad.
                    </p>
                </div>
                <div class="col-d">
                    <h3>Web Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at dui scelerisque malesuad.
                    </p>
                </div>
                <div class="col-e">
                    <h3>Matematica</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at dui scelerisque malesuad.
                    </p>
                </div>
                <div class="col-f">
                    <h3>Portugues</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at dui scelerisque malesuad.
                    </p>
                </div>
                <div class="col-g">
                    <h3>TituloG</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at dui scelerisque malesuad.
                    </p>
                </div>
                <div class="col-h">
                    <h3>TituloH</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at dui scelerisque malesuad.
                    </p>
                </div>

            </div>
        </div>
    </div>
{% endblock%}