{% extends "base.html" %} {% block title %}Form1{% endblock %}
<!--{% block css %} <link rel="stylesheet" type="text/css" href="../static/form.css">  {% endblock %}-->
{% block content%}

<div class="siu">
    <div class="contain">
        <form action="">
            <div class="an_studi">
            <p>An de Studiu:</p>
                <input type="radio" class="checkbox-round"  id="an1" name="an" value="an">
                <label for="an1">1</label><br>
                   <a href="form2.html"><input type="radio" class="checkbox-round" id="an2" name="an" value="an">
                       <label for="an1">2</label><br></a>
                   <input type="radio" class="checkbox-round" id="an3" name="an" value="an">
                <label for="an1">3</label><br>
            </div>


            <div class="an_un">
            <p>Algoritmi și structuri de date I:</p>
                <input type="radio" name="1" value="java">
                <label for="a">1</label>
                <input type="radio" name="1" value="java">
                <label for="a">2</label>
                <input type="radio" name="1" value="java">
                <label for="a">3</label>
                <input type="radio" name="1" value="java">
                <label for="a">4</label>
                <input type="radio" name="1" value="java">
                <label for="a">5</label>
                <input type="radio" name="1" value="java">
                <label for="a">6</label>
                <input type="radio" name="1" value="java">
                <label for="a">7</label>
                <input type="radio" name="1" value="java">
                <label for="a">8</label>
                <input type="radio" name="1" value="java">
                <label for="a">9</label>
                <input type="radio" name="1" value="java">
                <label for="a">10</label>

            <p>Programare I:</p>
                <input type="radio" name="1" value="java">
                <label for="2">1</label>
                <input type="radio" id="2" name="1" value="java">
                <label for="2">2</label>
                <input type="radio" id="3" name="1"  value="java">
                <label for="2">3</label>
                <input type="radio" id="4" name="1"  value="java">
                <label for="2">4</label>
                <input type="radio" id="5" name="1"  value="java">
                <label for="2">5</label>
                <input type="radio" id="6" name="1" value="java">
                <label for="2">6</label>
                <input type="radio" id="7" name="1" value="java">
                <label for="2">7</label>
                <input type="radio" id="8" name="1" value="java">
                <label for="2">8</label>
                <input type="radio" id="9" name="1" value="java">
                <label for="2">9</label>
                <input type="radio" id="10" name="1" value="java">
                <label for="2">10</label>

                <p>Logică computațională:</p>
                <input type="radio"  name="1"  value="java">
                <label for="2">1</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">2</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">3</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">4</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">5</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">6</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">7</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">8</label>
                <input type="radio" name="1"  value="java">
                <label for="2">9</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">10</label>

                <p>Algebră și geometrie analitica:</p>
                <input type="radio"  name="1"  value="java">
                <label for="2">1</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">2</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">3</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">4</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">5</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">6</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">7</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">8</label>
                <input type="radio" name="1"  value="java">
                <label for="2">9</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">10</label>

                  <p>Arhitectura calculatoarelor:</p>
                <input type="radio"  name="1"  value="java">
                <label for="2">1</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">2</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">3</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">4</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">5</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">6</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">7</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">8</label>
                <input type="radio" name="1"  value="java">
                <label for="2">9</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">10</label>

                  <p>Algoritmi și structuri de date II:</p>
                <input type="radio"  name="1"  value="java">
                <label for="2">1</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">2</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">3</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">4</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">5</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">6</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">7</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">8</label>
                <input type="radio" name="1"  value="java">
                <label for="2">9</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">10</label>

                 <p>Calcul diferențial și integral:</p>
                <input type="radio"  name="1"  value="java">
                <label for="2">1</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">2</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">3</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">4</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">5</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">6</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">7</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">8</label>
                <input type="radio" name="1"  value="java">
                <label for="2">9</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">10</label>

                 <p>Programare II:</p>
                <input type="radio"  name="1"  value="java">
                <label for="2">1</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">2</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">3</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">4</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">5</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">6</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">7</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">8</label>
                <input type="radio" name="1"  value="java">
                <label for="2">9</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">10</label>

                 <p>Elemente de web design:</p>
                <input type="radio"  name="1"  value="java">
                <label for="2">1</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">2</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">3</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">4</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">5</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">6</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">7</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">8</label>
                <input type="radio" name="1"  value="java">
                <label for="2">9</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">10</label>

                <p>Metode și practici în informatică:</p>
                <input type="radio"  name="1"  value="java">
                <label for="2">1</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">2</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">3</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">4</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">5</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">6</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">7</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">8</label>
                <input type="radio" name="1"  value="java">
                <label for="2">9</label>
                <input type="radio"  name="1"  value="java">
                <label for="2">10</label>
                </div>

            <div class="job">
                <p>Jobu-ri de interes:<p>
                <input type="checkbox" id="job1" name="b" value="c">
                <label for="a"> Administrator de baze de Date </label><br>
                <input type="checkbox" id="job2" name="job2" value="job2">
                <label for="a"> Arhitect </label><br>
                <input type="checkbox" id="job3" name="job3" value="c">
                <label for="a"> Tester </label><br>
                <input type="checkbox" id="a" name="b" value="c">
                <label for="a"> Dezvoltator Software </label><br>
            </div>
            <a href="#" ><input class="submitbt" type="submit" value="Submit"></a>
        </form>
    </div>

</div>
{% endblock %}