{% extends "base.html" %} {% block title %}Form2{% endblock %}

{% block content%}
<div class="container">
<form action="">
    <div class="an_studi">
    <p>An de Studiu:</p>
        <input type="radio" class="checkbox-round"  id="an1" name="an" value="an">
        <label for="an1">1</label><br>
           <input type="radio" class="checkbox-round" id="an2" name="an" value="an">
        <label for="an1">2</label><br>
           <input type="radio" class="checkbox-round" id="an3" name="an" value="an">
        <label for="an1">3</label><br>
    </div>


    <div class="an_doi">
    <p>Teoria grafurilor și combinatorică:</p>
        <input type="radio"  name="1"  value="java">
        <label for="a">1</label>
        <input type="radio" name="1"  value="java">
        <label for="a">2</label>
        <input type="radio"  name="1"  value="java">
        <label for="a">3</label>
        <input type="radio"  name="1"  value="java">
        <label for="a">4</label>
        <input type="radio"  name="1"  value="java">
        <label for="a">5</label>
        <input type="radio"  name="1"  value="java">
        <label for="a">6</label>
        <input type="radio"  name="1"  value="java">
        <label for="a">7</label>
        <input type="radio"  name="1"  value="java">
        <label for="a">8</label>
        <input type="radio"  name="1"  value="java">
        <label for="a">9</label>
        <input type="radio"  name="1"  value="java">
        <label for="a">10</label>

    </div>
    <p>Sisteme de operare I:</p>
        <input type="radio"  name="1"  value="java">
        <label for="2">1</label>
        <input type="radio" id="2" name="1"  value="java">
        <label for="2">2</label>
        <input type="radio" id="3" name="1"  value="java">
        <label for="2">3</label>
        <input type="radio" id="4" name="1"  value="java">
        <label for="2">4</label>
        <input type="radio" id="5" name="1"  value="java">
        <label for="2">5</label>
        <input type="radio" id="6" name="1"  value="java">
        <label for="2">6</label>
        <input type="radio" id="7" name="1"  value="java">
        <label for="2">7</label>
        <input type="radio" id="8" name="1"  value="java">
        <label for="2">8</label>
        <input type="radio" id="9" name="1"  value="java">
        <label for="2">9</label>
        <input type="radio" id="10" name="1"  value="java">
        <label for="2">10</label>

        <p>Baze de date:</p>
        <input type="radio"  name="1"  value="java">
        <label for="2">1</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">2</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">3</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">4</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">5</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">6</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">7</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">8</label>
        <input type="radio" name="1"  value="java">
        <label for="2">9</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">10</label>

            <p>Baze de date:</p>
        <input type="radio"  name="1"  value="java">
        <label for="2">1</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">2</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">3</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">4</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">5</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">6</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">7</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">8</label>
        <input type="radio" name="1"  value="java">
        <label for="2">9</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">10</label>

            <p>Baze de date:</p>
        <input type="radio"  name="1"  value="java">
        <label for="2">1</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">2</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">3</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">4</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">5</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">6</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">7</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">8</label>
        <input type="radio" name="1"  value="java">
        <label for="2">9</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">10</label>

            <p>Programare III :</p>
        <input type="radio"  name="1"  value="java">
        <label for="2">1</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">2</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">3</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">4</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">5</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">6</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">7</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">8</label>
        <input type="radio" name="1"  value="java">
        <label for="2">9</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">10</label>

            <p>Proiect individual:</p>
        <input type="radio"  name="1"  value="java">
        <label for="2">1</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">2</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">3</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">4</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">5</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">6</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">7</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">8</label>
        <input type="radio" name="1"  value="java">
        <label for="2">9</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">10</label>

            <p>Structuri de date avansate:</p>
        <input type="radio"  name="1"  value="java">
        <label for="2">1</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">2</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">3</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">4</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">5</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">6</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">7</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">8</label>
        <input type="radio" name="1"  value="java">
        <label for="2">9</label>
        <input type="radio"  name="1"  value="java">
        <label for="2">10</label>

    <div class="job">
        <p>Jobu-ri de interes:<p>
        <input type="checkbox" id="job1" name="b" value="c">
        <label for="a"> Administrator de baze de Date </label><br>
        <input type="checkbox" id="job2" name="job2" value="job2">
        <label for="a"> Arhitect </label><br>
        <input type="checkbox" id="job3" name="job3" value="c">
        <label for="a"> Tester </label><br>
        <input type="checkbox" id="a" name="b" value="c">
        <label for="a"> Dezvoltator Software </label><br>
    </div>
    <input class="submitbt" type="submit" value="Submit">
</form>
</div>
{% endblock%}