{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block content%}
<div class="container">
    <nav class="navbar">
        <div class="navbar-nav">
            <a class="nav-link" id="home" href="/home">Home</a>
            <a class="nav-link" id="contact" href="/contact">Contact</a>
            <a class="nav-link" id="about" href="/about">About</a>
            <a class="nav-link" id="signup" href="/form">Form</a>
        </div>
        <a class="logout" id="logout" href="/logout">Logout</a>
    </nav>
    <div class="poza">
        <div class="hom">
        <ul>
            <li><a href="/discipline" >Disciplina</a></li>
            <li><a href="/form">Alege optiuni</a></li>
            <li><a href="/alege">Alege Disciplina</a></li>
            <li>UVT</li>
        </ul>
    </div>
    </div>

</div>



{% endblock %}