{% extends 'base.html' %}
{% block css %} <link rel="stylesheet" type="text/css" href="../static/login.css">  {% endblock %}
{% block content%}
    <div class="background-foto">
        <div class="fo-to">
            <div class="leftside">
                <img src="../static/image/student2.jpg" alt="tem">
            </div>
            <div class="rightside">
                <form action="#" method="POST" >
                    <div class="msg">{{msg}}</div>
                    <h2>LOGIN</h2>
                    <div class="input-container"></div>
                    <div class="input">
                        <i class="fa fa-user"></i>
                        <input type="text" placeholder="Email" required>
                    </div>
                    <div class="input">
                        <i class="fa fa-lock"></i>
                        <input type="password" placeholder="Password" required>
                    </div>
    <!--                <input type="submit" class="login" value="LOGIN">-->
                    <button type="submit" class="login">LOGIN</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
