*{
  margin: 0;
  padding: 0;

}
body{
  background-color: steelblue;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar{
  display: flex;
  align-items: center;
  height: 50px;
  width: 1600px;
  max-width: 100%;
  background-color: orange;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
}
.navbar h1{
  color: white;
  margin-left: 40px;
  font-size: 30px;
  font-family:"Times New Roman", Times, serif;
}

.row{
  padding: 25px;
  height: 100%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.side-content{
  margin-left: 21%;
  height: 100%;
}



.side-menu {
 /*background-color: yellow;*/
  display: flex;
  justify-content: left;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  width: 21%; /*sidebar */
  height: 100%;
  position: fixed;
}

.side-menu ul li{
  color: white;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-family: "Times New Roman", Times, serif;
  padding: 30px;
}

.side-menu ul li:not(:nth-child(4)){
  margin-bottom: 20px;
}
.side-menu ul li:hover{
  cursor: pointer;
  color: orange;
}

.side-menu::after{
  content: '';
  border: 1px solid #4a555d;
  height: 85%;
  margin-left: 80px;
}

.col-9 h1{
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 10px;
}
.col-9 {
  /*background-color: blue;*/
  margin-top: 60px;
  width: 100%;
}
.col-9 p{
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 10px;
}

.Titlos{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /*background-color: red;*/
  width: 90%;
  margin-left: 15px;
}

.Titlos [class*="col-"]{
  color: white;
  background-color: darkorange;
  border-radius: 10px;
  width: 80%;
  margin: 0 0 50px 0;
  height: fit-content;
  text-align: justify;
  text-justify: inter-word;
  font-family: "Times New Roman", Times, serif;
}

@media only screen and (max-width: 768px) {  /* mobile */
  .side-menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .side-menu::after{
    display: none;
  }
       /* pozicao*/
    [class*="col-"] {
    width: 100%;
  }

  .row{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .side-content{
    margin-left: 0;
  }

  .Titlos{
    grid-template-columns: repeat(1,1fr);
  }
}

@media only screen and (max-width: 1086px){
.side-menu::after{
    display: none;
  }
}