form{
    background-color: wheat;
    width: 50%;
    margin-top: 110px;
    margin-left: 30%;

}

/*.......bom dele.........*/
/*.an_un {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: center;*/
/*}*/

/*input[type="radio"] {*/
/*  margin-right: 10px;*/
/*}*/
/*p {*/
/*  margin: 20px 0;*/

/*}*/
